<ul class="nav justify-content-center footer align-items-center" >

  <!-- instagram button -->
  <li class="nav-item">
    <a class="nav-link active" href="https://www.instagram.com/labstruggles/">
      <img src="docs/images/social_insta.png" width="25px" height="25px">
    </a>
  </li>

  <!-- fb button -->
  <li class="nav-item">
    <a class="nav-link active" href="https://www.facebook.com/labstruggles/">
      <img src="docs/images/social_fb.png" width="25px" height="25px">
    </a>
  </li>

</ul>