<ul class="nav justify-content-center footer align-items-center" >

  <li class="nav-item">
    <a class="nav-link active" href="#">
      <img src="docs/images/social_insta.png" width="25px" height="25px">
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">
      <img src="docs/images/social_fb.png" width="25px" height="25px">
    </a>
  </li>

</ul>