<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" href="/">
    <img src="docs/images/bust.png" width="50px" height="50px">
    Labstruggles
  </a>

  <!-- hamburger -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- links -->
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">

      <% if (pathname === "comics"){ %>
        <a class="nav-item nav-link active" href="comics">Comics</a>
      <% }else{ %>
        <a class="nav-item nav-link" href="comics">Comics</a>
      <% } %>

      <% if (pathname === "map"){ %>
        <a class="nav-item nav-link active" href="map">Map</a>
      <% }else{ %>
        <a class="nav-item nav-link" href="map">Map</a>
      <% } %>

    </div>
  </div>

</nav>