@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);
body {
  font-family: "Neucha", cursive; }

.footer {
  height: 76px;
  background-color: #f8f9fa; }

.map-container {
  padding-bottom: 20px; }
  .map-container #mapid {
    height: 400px;
    width: 100%; }

.map-jumbotron {
  background-image: url("../../docs/images/eiffel_banner.jpg");
  background-position: center;
  background-size: 100%;
  height: 375px;
  background-repeat: no-repeat; }
  .map-jumbotron h1 {
    font-size: 2.75rem; }
  .map-jumbotron .btn {
    border: none;
    background-image: url("../../docs/images/bluesplotch.png");
    background-size: 100% 100%;
    color: black; }
    .map-jumbotron .btn:hover {
      background-image: url("../../docs/images/greensplotch.png");
      text-decoration: underline; }

@media (min-width: 576px) {
  .map-jumbotron h1 {
    font-size: 3rem; } }

@media (min-width: 768px) {
  .map-jumbotron h1 {
    font-size: 4rem; } }

.post-container {
  max-height: 200px;
  overflow: scroll; }
  .post-container .container .row .col {
    padding: 5px; }
    .post-container .container .row .col a .post {
      height: 100px;
      width: 100px; }

@media (min-width: 576px) {
  .post-container.many-post {
    width: 220px; } }

.comic-carousel {
  margin-bottom: 30px; }

.carousel {
  width: 100%;
  margin: 0 auto; }

@media (min-width: 800px) {
  .carousel {
    width: 600px;
    margin: 0 auto; } }

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important; }

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important; }

.box {
  background: #fff;
  border: solid black;
  border-color: black; }

.box1 {
  border-width: 3px 4px 3px 5px;
  border-radius: 95% 4% 92% 5%/4% 95% 6% 95%; }

.box2 {
  border-width: 3px 3px 5px 5px;
  border-radius: 4% 95% 6% 95%/95% 4% 92% 5%; }

.box3 {
  border-width: 5px 3px 3px 5px;
  border-radius: 95% 4% 97% 5%/4% 94% 3% 95%; }

.evenboxinner {
  transform: rotate(2deg);
  margin: 15px;
  padding: 0 5px;
  float: right;
  background: #ddd;
  border: 1px solid #222;
  box-shadow: 3px 3px 0 #222; }

.more-comics {
  text-align: center;
  margin-bottom: 30px; }
  .more-comics .btn {
    width: 40%;
    background-color: transparent;
    border: none;
    background-image: url("../../docs/images/bluesplotch.png");
    background-size: 100% 100%;
    color: black; }
    .more-comics .btn:hover {
      background-image: url("../../docs/images/greensplotch.png");
      text-decoration: underline; }

.about-banner {
  max-width: 100%;
  height: auto;
  padding-bottom: 40px; }

.portrait {
  margin-bottom: 40px;
  height: 120px; }
  .portrait.portrait-left {
    text-align: center; }
  .portrait.portrait-right {
    text-align: center; }
  .portrait img {
    height: 100%;
    width: auto; }
