.footer {
  height: 76px;
  background-color: #f8f9fa; }

#mapid {
  height: 500px;
  width: 100%; }

.post-container {
  max-height: 200px;
  overflow: scroll; }

.post {
  height: 75px;
  width: 75px; }

@media (min-width: 576px) {
  .post-container.many-post {
    width: 212px; } }
