@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);
@import url(https://fonts.googleapis.com/css?family=Didact+Gothic);
body {
  font-family: "Didact Gothic", sans-serif; }
  body .navbar {
    font-family: "Neucha", cursive; }
  body .footer {
    font-family: "Neucha", cursive; }
  body .header {
    font-family: "Neucha", cursive; }
  body .btn {
    font-family: "Neucha", cursive; }

.home-logo {
  font-family: "Neucha", cursive; }
  .home-logo .col {
    display: flex;
    justify-content: center;
    align-items: center; }
    .home-logo .col .home-logo-img {
      width: 4rem;
      margin-right: .5rem; }
    .home-logo .col .home-logo-header {
      font-size: 2.75rem;
      margin: .75rem 0 0 0; }

@media (min-width: 475px) {
  .row.logo .col img {
    height: 80px;
    width: 80px; }
  .row.logo .col h1 {
    font-size: 80px; } }

.home-logo {
  padding-top: 5%; }

.home-buttons {
  font-family: "Neucha", cursive;
  display: flex;
  justify-content: space-around;
  align-items: flex-end; }
  .home-buttons .home-buttons-deco {
    margin-right: 10%; }
  .home-buttons .home-buttons-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }

.btn-home div {
  width: 270px;
  height: 130px;
  position: relative; }
  .btn-home div img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto; }
  .btn-home div p {
    text-align: center;
    color: black;
    position: absolute;
    font-size: 24px;
    font-weight: bold; }
  .btn-home div.home-comic p {
    left: 110px;
    top: 90px; }
  .btn-home div.home-foster p {
    left: 110px;
    top: 95px; }

.row-decoration {
  padding-bottom: 5%; }
  .row-decoration img {
    top: -100px; }

.home-spacer {
  height: 25vh; }

.map-container {
  padding-bottom: 20px; }
  .map-container #map {
    height: 475px;
    width: 100%; }
  .map-container .contributors-header {
    margin-top: 40px; }

.map-jumbotron {
  background-image: url("../../docs/images/eiffel_banner_sm_compressed.png");
  background-position: center;
  background-size: 100%;
  height: 400px;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-start; }
  .map-jumbotron .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;
    color: white; }
    .map-jumbotron .container h1 {
      font-size: 2.75rem; }
    .map-jumbotron .container .btn {
      width: 150px;
      border: none;
      background-image: url("../../docs/images/bluesplotch.png");
      background-size: 100% 100%;
      color: black; }
      .map-jumbotron .container .btn:hover {
        background-image: url("../../docs/images/greensplotch.png"); }

@media (min-width: 768px) {
  .map-jumbotron {
    background-image: url("../../docs/images/eiffel_banner_compressed.jpg"); }
    .map-jumbotron .container {
      margin-top: 5rem;
      align-items: flex-start;
      text-align: left; }
    .map-jumbotron h1 {
      font-size: 3rem; }
    .map-jumbotron .btn {
      margin-top: .5rem;
      outline: none; } }

@media (min-width: 768px) {
  .map-jumbotron h1 {
    font-size: 4rem; } }

.post-container {
  max-height: 200px;
  overflow: scroll; }
  .post-container .container .row .col {
    padding: 5px; }
    .post-container .container .row .col a .post {
      height: 100px;
      width: 100px; }

@media (min-width: 576px) {
  .post-container.many-post {
    width: 240px; } }

.gallery__row {
  display: flex;
  justify-content: space-between; }
  .gallery__row .gallery__col {
    justify-content: center;
    padding-bottom: 5rem;
    min-width: 400px;
    max-width: 600px; }
    .gallery__row .gallery__col .gallery__img {
      width: 100%;
      cursor: pointer; }

.more-comics {
  text-align: center;
  padding-bottom: 3%;
  font-family: "Neucha", cursive; }
  .more-comics .btn {
    width: 40%;
    background-color: transparent;
    border: none;
    background-image: url("../../docs/images/bluesplotch.png");
    background-size: 100% 100%;
    color: black; }
    .more-comics .btn:hover {
      background-image: url("../../docs/images/greensplotch.png"); }

.modal-content {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto; }
  .modal-content .modal__img {
    width: 100%;
    border-radius: 5%; }

.about-container {
  height: 85vh; }
  .about-container .about-banner {
    text-align: center; }
    .about-container .about-banner .about-banner-picture {
      max-height: 200px;
      max-width: 545px;
      width: 100%;
      padding-bottom: 3%; }
  @media (min-width: 991.98px) {
    .about-container .about-banner .about-banner-picture {
      width: 80%; } }
