<html lang="en">

  <head>
    <%- include ../partials/head.ejs %>

    <!-- bootstrap scripts and jquery -->
    <%- include ../partials/bootstrapScripts.ejs %>
  </head>

  <body>
    <!-- navbar -->
    <%- include ../partials/navbar.ejs %>


    <main>
      <div class="container">

        <div class="about-banner">
          <img class="about-banner-picture" src="docs/images/banner2.png">
        </div>

        <div class="row">
          <div class="col">
            <h1>What is LabStruggles?</h1>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>
              LabStruggles is an initiative aiming to better connect academic researchers with the general public, with the industry, and with each other. By highlighting the comical situations and misadventures faced by the average researcher, we hope make science a little less intimidating and a little more inviting to all.
            </p>
            <p>
              If you would like to contribute ideas or collaborate in any capacity, please contact us: <a href="mailto:info@labstruggles.com" target="_top">info@labstruggles.com</a>
            </p>
          </div>
        </div>

      </div> <!-- container -->

    </main>

  </body>

</html>