<html lang="en">

  <head>
    <%- include ../partials/head.ejs %>
    <meta name="description" content="LabStruggles is an initiative aiming to better connect academic researchers with the general public, with the industry, and with each other. By highlighting the comical situations and misadventures faced by the average researcher, we hope make science a little less intimidating and a little more inviting to all."/>

    <!-- bootstrap scripts and jquery -->
    <%- include ../partials/bootstrapScripts.ejs %>
  </head>

  <body>
    <!-- navbar -->
    <%- include ../partials/navbar.ejs %>


    <main>
      <div class="container">

        <div class="about-banner">
          <img class="about-banner-picture" src="docs/images/banner2.png">
        </div>

        <div class="row">
          <div class="col">
            <h1>What is LabStruggles?</h1>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>
              LabStruggles is an initiative aiming to better connect academic researchers with the general public, with the industry, and with each other. By highlighting the comical situations and misadventures faced by the average researcher, we hope make science a little less intimidating and a little more inviting to all.
            </p>
            <p>
              Have a fun idea for a comic or a collaboration? Just want to say hi? We'd love to hear from you! Shoot us an email and we promise to reply!
              <a href="mailto:info@labstruggles.com" target="_top">info@labstruggles.com</a>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <h2>People</h2>
          </div>
        </div>
        <div class="row">
          <div class="col about-people">
            <img class="portrait" src="docs/images/bio-nick.png">
            <h4>Nick</h4>
            <ul>
              <li>Co-creator of LabStruggles</li>
              <li>PhD candidate (Chemical Engineering) at McGill University (Montreal, Quebec, Canada) by day</li>
              <li>Comic artist by night</li>
            </ul>
          </div>
          <div class="col about-people">
            <img class="portrait" src="docs/images/bio-jay.png">
            <h3>Jay</h3>
            <ul>
              <li>Co-creator of LabStruggles</li>
              <li>Graduated from McGill University (Montreal, Quebec, Canada) in 2018 with a Bachelor of Engineering (Mechanical Engineering)</li>
              <li>Webmaster</li>
            </ul>
          </div>
        </div>

      </div> <!-- container -->

    </main>

  </body>

</html>