<html lang="en">

  <head>
    <%- include ../partials/head.ejs %>

    <!-- bootstrap scripts and jquery -->
    <%- include ../partials/bootstrapScripts.ejs %>
  </head>

  <body>
    <!-- navbar -->
    <%- include ../partials/navbar.ejs %>


    <main>
      <div class="container">

        <img class="about-banner" src="docs/images/banner2.png">

        <div class="row">
          <div class="col">
            <h1>Blah</h1>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>
              Long clothes broadside jib aye loot shrouds pinnace bounty strike colors ye. Galleon rigging jury mast hearties Brethren of the Coast landlubber or just lubber bilge rat boatswain fathom chase. Barque chandler pirate cog come about rum chase guns transom ahoy yo-ho-ho.

              Transom poop deck weigh anchor run a rig chase dance the hempen jig gangway coxswain ahoy scallywag. Landlubber or just lubber jack holystone sheet draught yawl bounty Jolly Roger ballast coxswain. Gold Road hang the jib Sea Legs squiffy bilged on her anchor topmast tackle Pieces of Eight crow's nest long clothes.

              Cable lass capstan Sail ho tack American Main knave Barbary Coast gangplank lee. Sloop salmagundi pinnace Spanish Main ahoy crow's nest fore scuttle handsomely dead men tell no tales. Bounty gangplank ye sloop belaying pin long clothes bilge rat gally crow's nest tack.
            </p>
          </div>
        </div>

        <!-- <div class="row">
          <div class="col portrait portrait-left">
            <img src="docs/images/bust.png">
          </div>
          <div class="col portrait portrait-right">
            <img src="docs/images/bust.png">
          </div>
        </div> -->

      </div> <!-- container -->

    </main>

  </body>

</html>