<html lang="en">

<head>
  <%- include ../partials/head.ejs %>
</head>

<body>

<!-- navbar -->
<%- include ../partials/navbar.ejs %>

<main>
  <div>
    <h1>Top Comics</h1>
  </div>
</main>

<!-- footer -->
<%- include ../partials/footer.ejs %>

<!-- bootstrap scripts and jquery -->
<%- include ../partials/bootstrapScripts.ejs %>
<script src="scripts/home.js"></script>

</body>

</html>