<html lang="en">

  <head>
    <meta name="description" content="We want LabStruggles to be a place where the global scientific community can show off what they've been up to! The LabStruggles Foster Project aims to bring researchers closer to one another in an effort to initiate collaboration, communication, and knowledge exchange."/>

    <%- include ../partials/head.ejs %>

    <!-- bootstrap scripts and jquery -->
    <%- include ../partials/bootstrapScripts.ejs %>

    <!-- leaflet css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>



  </head>

  <body>

  <!-- navbar -->
  <%- include ../partials/navbar.ejs %>

  <main>
    <div class="jumbotron jumbotron-fluid map-jumbotron">
      <div class="container" style="color: white;">
        <h1 class="display-3" >LabStruggles Goes Global!</h1>

        <div class="blurb">
          <p class="lead d-none d-md-block">
            We want to make LabStruggles a place where researchers from around the world can show off what they've been up to!
            Send us a message, and the LabStruggles figurine will come visit you. We call this the LabStruggles Foster Project and with it we aim to bring researchers closer to one another in an effort to initiate collaboration, communication, and knowledge exchange.
          </p>
          <p class="d-none d-md-block lead">
            To participate in the LabStruggles Foster Project, please contact us: <a href="mailto:info@labstruggles.com?Subject=Foster%20Program" target="_top">info@labstruggles.com</a>
          </p>
        </div>

        <a class="btn btn-lg d-md-none" href="#learn-more" role="button">Learn More</a>

      </div>
    </div>

    <div class="container map-container">
      <div class="row">
        <h1>Where we've been:</h1>
      </div>
      <div class="row">
        <div id="mapid"></div>
      </div>
    </div>

    <div class="container d-md-none">

      <div class="row">
        <div class="col" id="learn-more">
          <h1>The LabStruggles Foster Project</h1>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p>
            We want to make LabStruggles a place where researchers from around the world can show off what they've been up to! Give us the word, and the LabStruggles figurine will come visit you. We call this the LabStruggles Foster Project and with it we aim to bring researchers closer to one another in an effort to initiate collaboration, communication, and knowledge exchange.


            <!-- By sending the LabStruggles figurine from researcher to researcher around the world, the LabStruggles Foster Project aims to bring researchers closer to one another in an effort to initiate collaboration, communication, and knowledge exchange. -->
          </p>
          <p>
            To participate in the LabStruggles Foster Project, please contact us: <a href="mailto:info@labstruggles.com?Subject=Foster%20Program" target="_top">info@labstruggles.com</a>
          </p>
        </div>
      </div>


    </div>

    <%- include ../partials/footer.ejs %>

  </main>

  <!-- footer -->


  <!-- leaflet script -->
  <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
    integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
    crossorigin=""></script>

  <script src="scripts/map.js"></script>


  </body>

</html>