<html lang="en">

<head>
  <%- include ../partials/head.ejs %>
</head>

<body>

<%- include ../partials/navbar.ejs %>

<main>
  <div>
    <h1>Map</h1>
    <p>Blarg</p>
  </div>
</main>

<%- include ../partials/bootstrapScripts.ejs %>

</body>
</html>