.about-banner{
  text-align: center;
  .about-banner-picture{
    width: 100%;
    padding-bottom: 3%;
  }
}

@media (min-width: 991.98px) {
  .about-banner{
    .about-banner-picture{
      width: 80%;
    }
  }
}


// .about-banner{
//   width: 80%;
//   height: auto;
//   padding-bottom: 40px;
//   margin: auto;
// }

.portrait{
  margin-bottom: 40px;
  height: 120px;
  &.portrait-left{
    text-align: center;
  }
  &.portrait-right{
    text-align: center;
  }
}