.about-container{

  height: 85vh;

  .about-banner{
    text-align: center;
    .about-banner-picture{
      max-height: 200px;
      max-width: 545px;
      width: 100%;
      padding-bottom: 3%;

    }
  }

  @media (min-width: 991.98px) {
    .about-banner{
      .about-banner-picture{
        width: 80%;
      }
    }
  }
}