@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);

.comic-carousel{
  margin-bottom: 30px;
}

//responsive carousel
.carousel{
  width: 100%;
  margin: 0 auto;
}

//limit carousel max size
@media (min-width: 800px) {
 .carousel{
    width: 600px;
    margin: 0 auto;
  }
}

// carousel black buttons
.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

//handdrawn border for comics
.box{

  background:#fff;
  border: solid black;
  border-color: black;
}
.box1{
  border-width: 3px 4px 3px 5px;
  border-radius:95% 4% 92% 5%/4% 95% 6% 95%;

}
.box2{
  border-width: 3px 3px 5px 5px;
  border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
}
.box3{
  border-width: 5px 3px 3px 5px;
  border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
}
.oddboxinner{
}
.evenboxinner{
  transform: rotate(2deg);
  margin:15px;
  padding:0 5px;
  float:right;
  background:#ddd;
  border:1px solid #222;
  box-shadow:3px 3px 0 #222;
}

.spacer{
  // background-color: red;
}

.more-comics{
  text-align: center;
  margin-bottom: 30px;
  a{
    width: 50%;
    background-color: white;
    // border-color: #d9fffe;
    border: none;
    background-image: url(https://i.pinimg.com/originals/97/76/2f/97762f73c801893ce8cd0f3e20d1e727.jpg);
    background-size: 100% 100%;
    color: black;
  }
}