.gallery__row{
  display:flex;
  justify-content: space-between;
  .gallery__col{
    justify-content: center;
    padding-bottom: 5rem;
    min-width: 400px;
    max-width: 600px;
    .gallery__img{
      width: 100%;
      cursor: pointer;
    }
  }
}

.more-comics{
  text-align: center;
  padding-bottom: 3%;
  font-family: $font-header;
  .btn{
    width: 40%;
    background-color: transparent;
    border: none;
    background-image: url('../../docs/images/bluesplotch.png');
    background-size: 100% 100%;
    color: black;

    &:hover{
      background-image: url('../../docs/images/greensplotch.png');
    }
  }
}

.modal-content{
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  // border-radius: 10%;
  .modal__img{
    width: 100%;
    border-radius: 5%;
  }
}
