//map size
.map-container{
  padding-bottom: 20px;

  #mapid {
    height: 475px;
    width: 100%;
  }
}

// banner picture in jumbotron



.map-jumbotron{
  background-image: url('../../docs/images/eiffel_banner_sm.png');
  background-position: center;
  background-size:100%;
  height: 400px;
  background-repeat: no-repeat;

  display: flex;
  align-items: flex-start;

  .container{

    display: flex;
    justify-content: center;
    align-items:center;
    flex-flow:column;
    text-align: center;

    h1{
      font-size: 2.75rem;
    }
    .btn{
      width: 150px;
      border: none;
      background-image: url('../../docs/images/bluesplotch.png');
      background-size: 100% 100%;
      color: black;
      text-decoration: underline;

      &:hover{
        background-image: url('../../docs/images/greensplotch.png');
      }
    }
  }
}

@media (min-width: 576px) {
  .map-jumbotron{
    background-image:url('../../docs/images/eiffel_banner.jpg');

    .container{
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;

    }
    h1{
      font-size: 3rem;
    }
  }
}

@media (min-width: 768px) {
  .map-jumbotron{
    h1{
      font-size: 4rem;
    }
  }
}


//style of map popups
.post-container {
  max-height: 200px;
  overflow: scroll;
  .container{
    .row{
      .col{
        padding: 5px;
        a{
          .post {
            height: 100px;
            width: 100px;
          }
        }
      }
    }
  }
}

//increase width of popup on large screen (2 pics per row)
@media (min-width: 576px) {
  .post-container.many-post{
    width: 220px;
  }
}
