
body{
  font-family: $font-sans-serif;
  .navbar{
    font-family: $font-header;
  }
  .footer{
    font-family: $font-header;
  }
  .header{
    font-family: $font-header;
  }
  .btn{
    font-family: $font-header;
  }
}