.row.logo{
  .col{
    display:flex;
    justify-content:center;
    align-items:center;

    img{
      width: 55px
    }
    h1{
      font-size: 55px;
    }
  }
}

@media (min-width: 475px) {
  .row.logo{
    .col{
      img{
        height: 80px;
        width: 80px;
      }
      h1{
        font-size: 80px;
      }
    }
  }
}

.home-logo{
  padding-top: 5%;
}

.row.buttons{
  display: flex;
  justify-content: space-around;
  // justify-content: flex-end;

  align-items:flex-end;

  div{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
  }
}

.btn-home{
  div{
    width: 270px;
    height: 130px;
    position:relative;

    img{
      position:absolute;
      left:0;
      top:0;
      width: 100%;
      height: auto;
    }

    p{
      text-align: center;
      color: black;
      // z-index:100;
      position:absolute;
      font-size:24px;
      font-weight:bold;
    }

    &.home-comic{
      p{
        left:100px;
        top:90px;
      }

    }
    &.home-foster{
      p{
        left:70px;
        top:95px;
      }

    }

  }
}

.row-decoration{
  padding-bottom: 5%;
  // top: 0px;
  img{
    top: -100px;
  }
}