.home-logo{
  font-family: $font-header;
  .col{
    display:flex;
    justify-content:center;
    align-items:center;

    .home-logo-img{
      width: 4rem;
      margin-right: .5rem;
    }
    .home-logo-header{
      // display:flex;
      // justify-content:center;
      // align-items:center;
      font-size: 2.75rem;
      margin: .75rem 0 0 0;
    }
  }
}

@media (min-width: 475px) {
  .row.logo{
    .col{
      img{
        height: 80px;
        width: 80px;
      }
      h1{
        font-size: 80px;
      }
    }
  }
}

.home-logo{
  padding-top: 5%;
}

.home-buttons{
  font-family: $font-header;
  display: flex;
  justify-content: space-around;
  align-items:flex-end;

  .home-buttons-deco{
    margin-right: 10%;
  }

  .home-buttons-buttons{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
  }
}

.btn-home{
  div{
    width: 270px;
    height: 130px;
    position:relative;
    img{
      position:absolute;
      left:0;
      top:0;
      width: 100%;
      height: auto;
    }
    p{
      text-align: center;
      color: black;
      position:absolute;
      font-size:24px;
      font-weight:bold;
    }
    &.home-comic{
      p{
        left: 110px;
        top: 90px;
      }
    }
    &.home-foster{
      p{
        left: 110px;
        top: 95px;
      }
    }
  }
}

.row-decoration{
  padding-bottom: 5%;
  img{
    top: -100px;
  }
}

.home-spacer{
  height: 25vh;
}