//map size
#mapid {
  height: 500px;
  width: 100%;
}

//style of map popups
.post-container {
  max-height: 200px;
  overflow: scroll;
  .container{
    .row{
      .col{
        padding: 5px;
        a{
          .post {
            height: 100px;
            width: 100px;
          }
        }
      }
    }
  }
}

//increase width of popup on large screen (2 pics per row)
@media (min-width: 576px) {
  .post-container.many-post{
    width: 220px;
  }
}